<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="{% url 'home' %}">DASHBOARD<i class="fa fa-globe" ></i></a></li>
      <li><a href="{% url 'update_profile' %}">MYDETAILS<i class="fa fa-user-secret"></i></a></li>
      <li><a href="#">MYTEAM<i class="fa fa-users"></i></a></li>
      <li><a href="#">MYASSEST<i class="fa fa-desktop"></i></a></li>
    </ul>
    <ul class="nav nav-sidebar">
      <li><a href="#">PROJECTS<i class="fa fa-heartbeat"></i></a></li>
      <li><a href="#">EVENTS<i class="fa fa-bullhorn"></i></a></li>
      <li><a href="#">SURVEY<i class="fa fa-pie-chart"></i></a></li>
      <li><a href="#">DIRECTORY<i class="fa fa-fax"></i></a></li>
    </ul>
</div>
